<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easypoem">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyPoem">
        <activity android:name=".poem_learn_main"></activity>
        <activity android:name=".listen_activity" />
        <activity android:name=".record_activity" />
        <activity android:name=".PoemLearnStage2" />
        <activity android:name=".PoemLearnStage1" />
        <activity android:name=".drag_and_drop" />
        <activity android:name=".Login_or_register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".see_all_my_poems" />
        <activity android:name=".PoemLearn" />
        <activity android:name=".PoemRead" />
        <activity android:name=".add_my_poem" />
        <activity android:name=".search_activity" />
        <activity
            android:name=".start_activity"
            android:label="@string/app_name"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>